main {
  background-color: #151719;
}
h1 {
  font: size 60px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(192, 53, 83);
  text-align: center;
}
h2 {
  font: size 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(192, 53, 83);
  text-align: center;
}
.centrar {
  text-align: center;
  color: white;
  font-size: 20px;
}
h5 {
  color: white;
  text-align: center;
}
table,
th,
td {
  border: 3px solid rgb(248, 244, 244);
  border-collapse: collapse;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(68, 59, 59);
  cursor: default;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
th,
td {
  padding: 10px;
}
table {
  background-color: white;
}
h3 {
  color: chocolate;
}
