html {
  color: white;
}

main {
  background-color: #151719;
}

marquee {
  padding: 1.5rem;
}

marquee h2 {
  color: white;
  letter-spacing: 1rem;
}

main .container {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

main .container div {
  text-align: center;
}

main .container span {
  display: block;
}

.icons {
  display: flex;
  gap: 1rem;
}

h1 {
  font-size: 1.5rem;
  color: rgb(192, 53, 83);
  margin-bottom: 0.5rem;
}

h3 {
  color: chocolate;
}

table,
th,
td {
  border: 3px solid rgb(248, 244, 244);
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

table {
  background-color: white;
}

th,
td {
  padding: 10px;
  color: black;
}
