body {
  margin: 0;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  background: rgba(0, 0, 0, 0.542);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  color: white;
}

.content h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 3.2rem;
}

.content p {
  font-size: 1rem;
  font-weight: 200;
  font-size: 1.1rem;
  letter-spacing: 7px;
}

.button-rainbow {
  margin: 0 auto;
  width: 14rem;
  text-align: center;
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 3px;
  transition: 0.25s;
}

.button-rainbow:hover,
.button-rainbow:focus {
  transform: scale(1.1);
}

.button-rainbow:hover::before {
  animation: animation 0.5s linear infinite;
}

.button-rainbow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(115deg, #4fcf70, #fad648, #44ce7b);
  background-size: 50% 100%;
  animation: animation 2s linear infinite;
}

.button-rainbow span {
  display: block;
  position: relative;
  height: 100%;
  background: #0f0f28;
  color: #878793;
  border-radius: 3px;
  padding: 1.2rem 0;
  font-size: 1.6rem;
  letter-spacing: 6px;
  font-weight: 400;
  transition: 0.25s;
}

.button-rainbow:hover span {
  color: white;
}

@keyframes animation {
  to {
    transform: translateX(-50%);
  }
}
