body {
  background-image: url("imagenes/lets.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f5f7;
}

.banner img {
  width: 100%;
  cursor: pointer;
}

#seccion1 {
  color: dimgray;
  text-align: center;
}
